<br>
<div class="container">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-5">
			<div class="panel panel-default" >
				<div class="panel-heading">User Accounts</div>
				<div class="panel-body" style="overflow-y:auto;height:400px;">
					<div class="list-group" id="account-list">
						{{#each}}
							{{view 'account-list-row' email=email}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="well">
				<div>
					<button type="button" class="btn btn-danger form-control" {{action 'deleteClicked'}}>Delete Account</button>
				</div>
				<br>
				<div>
					<button type="button" class="btn btn-success form-control" {{action 'createClicked'}}>Create Account</button>
				</div>
				<br>
				<div>
					<button type="button" class="btn btn-warning form-control" {{action 'resetPasswordClicked'}}>Reset My Password</button>
				</div>
			</div>
			<br>
			<div id="alertDiv"></div>
		</div>
		<div class="col-lg-2"></div>
	</div>
</div>

