<div class="container-fluid">
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-centered">Status</th>
				<th class="text-centered">ID</th>
				<th class="text-centered">Location</th>
				<th class="text-centered">Dest 1</th>
				<th class="text-centered">Dest 2</th>
				<th class="text-centered">Comms</th>
				<th class="text-centered">Lamp</th>
				<th class="text-centered">Battery</th>
				<th class="text-centered">Solar</th>
				<th class="text-centered">Door</th>
			</tr>
		</thead>
		<tbody>
			{{view 'mainpage.status-row' content=selectedDevice}}
		</tbody>
	</table>
	<div class="row">
		<div class="col-lg-2">
			<div class="panel panel-default">
				<div class="panel-heading">Devices</div>
				<div class="panel-body" style="overflow-y:auto;height:400px">
					<div class="list-group" id="device-list">
						{{#each project in sortedModel}}
							<p><b>{{project.project}}</b></p>
							{{#each device in project.data}}
								{{view 'device-list-row' location=device}}
							{{/each}}
							<br>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-10">
			<div style="overflow-x:scroll;">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="text-centered">Router ID</th>
								<th class="text-centered">Active</th>
								<th class="text-centered">Is Sign</th>
								<th class="text-centered">Lamp Current</th>
								<th class="text-centered">Lamp On</th>
								<th class="text-centered">Up Time</th>
								<th class="text-centered">Battery Voltage</th>
								<th class="text-centered">Solar Voltage</th>
								<th class="text-centered">Status: Door Open</th>
								<th class="text-centered">Status: SD Card Error</th>
								<th class="text-centered">Status: Battery Low</th>
								<th class="text-centered">Status: Solar Low</th>
								<th class="text-centered">Fault: Lamp 1 Fault</th>
								<th class="text-centered">Fault: Lamp 2 Fault</th>
								<th class="text-centered">Fault: Battery Critical</th>
								<th class="text-centered">Fault: Test Mode Enabled</th>
							</tr>
						</thead>
						<tbody>
							{{! There seems to be a bug in Ember with tables and embedded objects.}}
							{{! Unable to use a view here, so just putting the template directly in the each loop}}
							{{#each r in selectedDevice.routers}}
								<tr>
									<td class="text-centered">{{r.latestLog.routerId}}</td>
									<td>
										{{#if r.active}}
											<div class="green-circle"></div>
										{{else}}
											<div class="red-circle"></div>
										{{/if}}
									</td>
									<td class="text-centered">{{r.latestLog.isSign}}</td>
									<td class="text-centered">{{r.latestLog.lampCurrent}}</td>
									<td class="text-centered">{{r.latestLog.lampOn}}</td>
									<td class="text-centered">{{r.latestLog.upTime}}</td>
									<td class="text-centered">{{r.latestLog.batteryVoltage}}</td>
									<td class="text-centered">{{r.latestLog.solarVoltage}}</td>
									<td>
										{{#if r.latestLog.status.DoorOpen}}
											<div class="amber-circle"></div>
										{{else}}
											<div class="green-circle"></div>
										{{/if}}
									</td>
									<td>
										{{#if r.latestLog.status.SdCardError}}
											<div class="red-circle"></div>
										{{else}}
											<div class="green-circle"></div>
										{{/if}}
									</td>
									<td>
										{{#if r.latestLog.status.BatteryLow}}
											<div class="amber-circle"></div>
										{{else}}
											<div class="green-circle"></div>
										{{/if}}
									</td>
									<td>
										{{#if r.latestLog.status.SolarLow}}
											<div class="amber-circle"></div>
										{{else}}
											<div class="green-circle"></div>
										{{/if}}
									</td>
									<td>
										{{#if r.latestLog.fault.Lamp1Fault}}
											<div class="red-circle"></div>
										{{else}}
											<div class="green-circle"></div>
										{{/if}}
									</td>
									<td>
										{{#if r.latestLog.fault.Lamp2Fault}}
											<div class="red-circle"></div>
										{{else}}
											<div class="green-circle"></div>
										{{/if}}
									</td>
									<td>
										{{#if r.latestLog.fault.BatteryCritical}}
											<div class="red-circle"></div>
										{{else}}
											<div class="green-circle"></div>
										{{/if}}
									</td>
									<td>
										{{#if r.latestLog.fault.TestModeEnabled}}
											<div class="red-circle"></div>
										{{else}}
											<div class="green-circle"></div>
										{{/if}}
									</td>
								</tr>	
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>