<br>
<div class="container">
	<div>
		<button type="button" class="btn btn-danger form-control" {{action 'clearClicked'}}>Clear Log</button>
	</div>
	<br>
	<div class="panel panel-default">
		<div class="panel-body" style="overflow-y:auto;height:400px">
			<div class="list-group">
				{{#each}}
					<p><b>{{created}}</b>, ID: {{id}}, {{site}} {{dest1}} {{dest2}} : AverageSpeed: {{avgSpeed}}, Channel: {{channel}}, Network: {{network}}, Software Version: {{softwareVersion}}, Version Flag: {{versionFlag}}, Longitude: {{longitude}}, Latitude: {{latitude}}, Tracks: {{tracks}}, Track Distance: {{trackDistance}}, Attached Routers: {{attachedRouters}}, Attached Router Data: {{attachedRouterDataString}}, Online Routers: {{onlineRouters}}, System Fault: {{systemFaultString}}</p>
					<hr>
					{{#each log in routerLogs}}
						<p style="margin-left:40px;"><b>{{log.created}}</b> Router ID: {{log.routerId}}, IsSign: {{log.isSign}}, Lamp Current: {{log.lampCurrent}}, Lamp On: {{log.lampOn}}, Up Time: {{log.upTime}}, Battery Voltage: {{log.batteryVoltage}}, Turbine Voltage: {{log.turbineVoltage}}, Ambient Light: {{log.ambientLight}}, Temperature: {{log.temperature}}, Track: {{log.track}}, Status: {{log.statusString}}, Fault: {{log.faultString}}, Sent To Streams: {{log.sentToStreams}} </p>
						<hr>
					{{/each}}
				{{/each}}
			</div>
		</div>
	</div>
</div>