<h1>Help</h1>
<h3>Accounts Tab</h3>
<p class="tabbed">Allows you to create and delete accounts, and reset your own password if you need to.  All of the user accounts on the server are listed in the 'User Accounts' panel.  To delete an account, select it from the list by clicking it, then once it is highlighted, click the 'Delete Account' button.  A confirmation box will appear.  Select OK to completely delete the account.  To create a new account, click the 'Create Account' button.  This will display a pop up window to type the new account's email address.  Upon submitting the new account email to the server, the server will create the account, and send the new account an email to notify them.  To reset your password, click the 'Reset My Password' button.  This will send you an email with a link to reset the password to your account.</p>
<h3>Status Tab</h3>
<p class="tabbed">Displays the overall status of each site.  The different projects (Level Crossings and Constrained Alignments) are separated into their own sections.  Any other projects encountered will also get their own heading if connected to this server.  Each row displays the overall status of a site.  If all of the lights in a row are green, there are no faults being reported at a site.  If any of the lights are red, it means that there is a fault at that site.  Clicking on a row for a site will take you to the device page with that site selected.</p>
<h3>Device Tab</h3>
<p class="tabbed">Shows a more in depth look at each site, including device specific infromation.  Clicking on a Device in the Devices panel will show all of the attached signs and their status information in the table to the right.  At the top of the screen is the status information for the Device's site, the same as on the Status page.</p>
<h3>Report Tab</h3>
<p class="tabbed">Allows you to formulate reports on an individual device over a period of time.  To build a report, select a Device from the Devices list.  This will populate the Signs list with the signs attached to the selected device.  Select one of the signs from this list, then choose a start and end date and time for your report.  Once all of this has been selected, click the 'Update Report' button to populate the report table.  Once data is in the report table, you can re-order the data by clicking on any of the blue headings in the table.</p>
<h3>Fault Log Tab</h3>
<p class="tabbed">Lists all the logs from all devices since you last clicked the clear button.  This is the raw log information.</p>
<h3>Log Out</h3>
<p class="tabbed">Clicking this tab will log you out of your current session and return you to the log in page.</p>