<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3">
			<br>
			<div class="panel panel-default">
				<div class="panel-heading">Devices</div>
				<div class="panel-body" style="overflow-y:auto;height:100px">
					<div class="list-group" id="report-device-list">
						{{#each device in content}}
							{{view 'report-device-row' device=device}}
						{{/each}}
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Router</div>
				<div class="panel-body" style="overflow-y:auto;height:100px">
					<div class="list-group" id="report-sign-list">
						{{#each sign in selectedDevice.routers}}
							{{view 'report-sign-row' sign=sign}}
						{{/each}}
					</div>
				</div>
			</div>
			<div>Start Date</div>
			<div class="input-group date" id="startdatetimepicker" data-date-format="DD/MM/YYYY hh:mm A">
				<input type="text" class="form-control" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			<br>
			<div>End Date</div>
			<div class="input-group date" id="enddatetimepicker" data-date-format="DD/MM/YYYY hh:mm A">
				<input type="text" class="form-control" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			<br>
			<button type="button" class="btn btn-success form-control" {{action "updateReportClicked"}}>Update Report</button>
		</div>
		<div class="col-lg-9">
			<div style="overflow-x:scroll;">
				<table class="table">
					<thead>
						<tr>
							<th class="text-centered" style="color:#006BB2;" {{action 'logTimeClicked'}}>Log Time<span {{bind-attr class="logTimeClass"}}></span></th>
							<th class="text-centered">Router ID</th>
							<th class="text-centered" style="color:#006BB2;" {{action 'isSignClicked'}}>Is Sign<span {{bind-attr class="isSignClass"}}></span></th>
							<th class="text-centered" style="color:#006BB2;" {{action 'lampCurrent1Clicked'}}>Lamp Current 1<span {{bind-attr class="lampCurrent1Class"}}></span></th>
							<th class="text-centered" style="color:#006BB2;" {{action 'lampCurrent2Clicked'}}>Lamp Current 2<span {{bind-attr class="lampCurrent2Class"}}></span></th>
							<th class="text-centered" style="color:#006BB2;" {{action 'lampOnClicked'}}>Lamp On<span {{bind-attr class="lampOnClass"}}></span></th>
							<th class="text-centered" style="color:#006BB2;" {{action 'upTimeClicked'}}>Up Time<span {{bind-attr class="upTimeClass"}}></span></th>
							<th class="text-centered" style="color:#006BB2;" {{action 'batteryVoltageClicked'}}>Battery Voltage<span {{bind-attr class="batteryVoltageClass"}}></span></th>
							<th class="text-centered" style="color:#006BB2;" {{action 'solarVoltageClicked'}}>Solar Voltage<span {{bind-attr class="solarVoltageClass"}}></span></th>
							<th class="text-centered">Status: Door Open</th>
							<th class="text-centered">Status: SD Card Error</th>
							<th class="text-centered">Status: Battery Low</th>
							<th class="text-centered">Status: Solar Low</th>
							<th class="text-centered">Fault: Lamp 1 Fault</th>
							<th class="text-centered">Fault: Lamp 2 Fault</th>
							<th class="text-centered">Fault: Battery Critical</th>
							<th class="text-centered">Fault: Test Mode Enabled</th>
						</tr>
					</thead>
					<tbody>
						{{#each log in sortedLogs}}
							<tr>
								<td class="text-centered">{{log.createdString}}</td>
								<td class="text-centered">{{log.routerId}}</td>
								<td class="text-centered">{{log.isSign}}</td>
								<td class="text-centered">{{log.lampCurrent1}}</td>
								<td class="text-centered">{{log.lampCurrent2}}</td>
								<td class="text-centered">{{log.lampOn}}</td>
								<td class="text-centered">{{log.upTime}}</td>
								<td class="text-centered">{{log.batteryVoltage}}</td>
								<td class="text-centered">{{log.solarVoltage}}</td>

								<td>
									{{#if log.status.DoorOpen}}
										<div class="amber-circle"></div>
									{{else}}
										<div class="green-circle"></div>
									{{/if}}
								</td>
								<td>
									{{#if log.status.SdCardError}}
										<div class="red-circle"></div>
									{{else}}
										<div class="green-circle"></div>
									{{/if}}
								</td>
								<td>
									{{#if log.status.BatteryLow}}
										<div class="amber-circle"></div>
									{{else}}
										<div class="green-circle"></div>
									{{/if}}
								</td>
								<td>
									{{#if log.status.SolarLow}}
										<div class="amber-circle"></div>
									{{else}}
										<div class="green-circle"></div>
									{{/if}}
								</td>
								<td>
									{{#if log.fault.Lamp1Fault}}
										<div class="red-circle"></div>
									{{else}}
										<div class="green-circle"></div>
									{{/if}}
								</td>
								<td>
									{{#if log.fault.Lamp2Fault}}
										<div class="red-circle"></div>
									{{else}}
										<div class="green-circle"></div>
									{{/if}}
								</td>
								<td>
									{{#if log.fault.BatteryCritical}}
										<div class="red-circle"></div>
									{{else}}
										<div class="green-circle"></div>
									{{/if}}
								</td>
								<td>
									{{#if log.fault.TestModeEnabled}}
										<div class="red-circle"></div>
									{{else}}
										<div class="green-circle"></div>
									{{/if}}
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
