{{#each project in sortedModel}}
	<h3>{{project.project}}</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-centered">Status</th>
				<th class="text-centered">ID</th>
				<th class="text-centered">Location</th>
				<th class="text-centered">Dest 1</th>
				<th class="text-centered">Dest 2</th>
				<th class="text-centered">Comms</th>
				<th class="text-centered">Lamp</th>
				<th class="text-centered">Battery</th>
				<th class="text-centered">Solar</th>
				<th class="text-centered">Door</th>
			</tr>
		</thead>
		<tbody>
			{{#each device in project.data}}
				<tr {{action 'rowClicked' device}}>
					<td>
						{{#if device.latestHeader.statusFailure}}
							<div class="red-circle"></div>
						{{else}}
							{{#if device.latestHeader.statusWarning}}
								<div class="amber-circle"></div>
							{{else}}
								<div class="green-circle"></div>
							{{/if}}
						{{/if}}
					</td>
					<td class="text-centered">{{device.id}}</td>
					<td class="text-centered">{{device.site}}</td>
					<td class="text-centered">{{device.dest1}}</td>
					<td class="text-centered">{{device.dest2}}</td>
					<td>
						{{#if device.latestHeader.comms}}
							<div class="red-circle"></div>
						{{else}}
							<div class="green-circle"></div>
						{{/if}}
					</td>
					<td>
						{{#if device.latestHeader.lampFailure}}
							<div class="red-circle"></div>
						{{else}}
							<div class="green-circle"></div>
						{{/if}}
					</td>
					<td>
						{{#if device.latestHeader.systemFault.BatteryFailure}}
							<div class="red-circle"></div>
						{{else}}
							<div class="green-circle"></div>
						{{/if}}
					</td>
					<td>
						{{#if device.latestHeader.systemFault.SolarFailure}}
							<div class="amber-circle"></div>
						{{else}}
							<div class="green-circle"></div>
						{{/if}}
					</td>
					<td>
						{{#if device.latestHeader.systemFault.DoorOpen}}
							<div class="amber-circle"></div>
						{{else}}
							<div class="green-circle"></div>
						{{/if}}
					</td>
				</tr>	
			{{/each}}
		</tbody>
	</table>
{{/each}}



	