
<td>
	{{#if view.content.latestHeader.statusFailure}}
		<div class="red-circle"></div>
	{{else}}
		{{#if view.content.latestHeader.statusWarning}}
			<div class="amber-circle"></div>
		{{else}}
			<div class="green-circle"></div>
		{{/if}}
	{{/if}}
</td>
<td class="text-centered">{{view.content.id}}</td>
<td class="text-centered">{{view.content.site}}</td>
<td class="text-centered">{{view.content.dest1}}</td>
<td class="text-centered">{{view.content.dest2}}</td>
<td>
	{{#if view.content.latestHeader.comms}}
		<div class="red-circle"></div>
	{{else}}
		<div class="green-circle"></div>
	{{/if}}
</td>
<td>
	{{#if view.content.latestHeader.lampFailure}}
		<div class="red-circle"></div>
	{{else}}
		<div class="green-circle"></div>
	{{/if}}
</td>
<td>
	{{#if view.content.latestHeader.systemFault.BatteryFailure}}
		<div class="red-circle"></div>
	{{else}}
		<div class="green-circle"></div>
	{{/if}}
</td>
<td>
	{{#if view.content.latestHeader.systemFault.SolarFailure}}
		<div class="amber-circle"></div>
	{{else}}
		<div class="green-circle"></div>
	{{/if}}
</td>
<td>
	{{#if view.content.latestHeader.systemFault.DoorOpen}}
		<div class="amber-circle"></div>
	{{else}}
		<div class="green-circle"></div>
	{{/if}}
</td>