<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inventis Remote Server</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{BASE_TAG}}

    <link rel="stylesheet" href="assets/inventis.css">
  </head>
  <body>
    <script>
      window.ENV = {{ENV}};
    </script>
    <script src="assets/inventis.js"></script>
    <script>
      window.Inventis = require('inventis/app')['default'].create(ENV.APP);
    </script>
  </body>
</html>
