<html>
	<head>
		<title>Inventis Remote Server Password Reset.</title>
	</head>
	<body>
		<p>You have requested a password reset for your account at the Inventis Remote Server.</p>
		<p>To reset your password click <a href="<%= resetURL %>">here.</a></p>
		<br />
		<p>Inventis Remote Server</p>
	</body>
</html>