<html>
	<head>
		<title>New Account at Inventis Remote Server.</title>
	</head>
	<body>
		<p>A new account has been created for you on the Inventis Remote Server.</p>
		<p>To set your password click <a href="<%= resetURL %>">here.</a></p>
		<br />
		<p>Inventis Remote Server</p>
	</body>
</html>