<div class="page-header">
	<img src="/assets/images/inventistech_logo_202x80.jpg" style="float:left">
	<img src="/assets/images/dier_tas_logo_118x52.png" style="float:right; padding-top:20px">
	<div class="container">
		<h4>Inventis Remote Server - v1.8</h4>
	</div>
</div>

{{outlet}}
