<div class="container">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">Forgot Password</div>
			<div class="panel-body">
				<form role="form" {{action "submitEmail" on="submit"}}>
					<div class="input-group">
						<span class="input-group-addon" for="emailInput">Email Address</span>
						{{input type="text" value=email id="emailInput" class="form-control"}}
					</div>
					<br>
					<div>
						<button class="btn btn-primary" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
		<div id="alertDiv"></div>
	</div>
	<div class="col-lg-3"></div>
</div>