<br>
<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
		<div class="panel panel-info">
			<div class="panel-heading">Log In</div>
			<div class="panel-body">
				<form role="form" {{action "login" on="submit"}}>
					<div class="input-group">
						<span class="input-group-addon">Email Address</span>
						{{input type="text" value=email id="emailInput" class="form-control"}}
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Password</span>
						{{input type="password" value=password id="passwordInput" class="form-control"}}
					</div>
					<br>
					<div class="btn-toolbar">
						<button type="submit" class="btn btn-primary" {{bind-attr disabled="isProcessing"}}>Log In</button>
						
						<button class="btn btn-default" {{action "forgotPassword"}}>Forgot Password?</button>
					</div>
				</form>
			</div>
		</div>
		<div id="alertDiv"></div>
	</div>
	<div class="col-lg-4"></div>
</div>
