<ul class="nav nav-tabs">
	<li class='active' id='accountsTab'><a data-toggle="tab" {{action 'accountsClicked'}}>Accounts</a></li>
	<li id='statusTab'><a data-toggle="tab" {{action 'statusClicked'}}>Status</a></li>
	<li id='deviceTab'><a data-toggle="tab" {{action 'deviceClicked'}}>Device</a></li>
	<li id='reportTab'><a data-toggle="tab" {{action 'reportClicked'}}>Report</a></li>
	<li id='fault-logTab'><a data-toggle="tab" {{action 'faultLogClicked'}}>Fault Log</a></li>
	<li id='helpTab'><a data-toggle="tab" {{action 'helpClicked'}}>Help</a></li>
	<li id='logout-tab'><a data-toggle="tab" {{action 'logoutClicked'}}>Log Out</a></li>
</ul>
{{outlet}}
