<div class="container">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">Reset Password</div>
			<div class="panel-body">
				<form role="form" {{action "resetPassword" on="submit"}}>
					<div class="input-group">
						<span class="input-group-addon">New Password</span>
						{{input type="password" value=password id="passwordInput" class="form-control"}}
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Confirm Password</span>
						{{input type="password" value=confirmation id="confirmInput" class="form-control"}}
					</div>
					<br>
					<div>
						<button type="submit" class="btn btn-primary">Reset Password</button>
					</div>
				</form>
			</div>
		</div>
		<div id="alertDiv"></div>
	</div>
	<div class="col-lg-3"></div>
</div>
