<h3>Device Type Heading</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Status</th>
			<th>Location</th>
			<th>Device ID</th>
			<th>Comms</th>
			<th>Lamp Fail</th>
			<th>Low Battery</th>
			<th>Tamper</th>
			<th>Temperature</th>
		</tr>
	</thead>
</table>