@import 'vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
html, body {
  margin: 20px;
}
.circle {
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	border-radius: 50%;
	margin: auto;
}
.red-circle {
	@extend .circle;
	background: #f00;
}
.green-circle {
	@extend .circle;
	background: #0f0;
}
.amber-circle {
	@extend .circle;
	background: #ff9900;
}
.text-centered {
	text-align: center;
}
.page-header {
	margin: 0px 0px 0px 0px;
	height: 100px;
}
.tabbed {
	margin-left: 40px;
}

h4 {
	margin-top: 0px;
	text-align: center;
	padding-top: 40px;
}

body {
	margin-top: 0px;
}
